<p id="notice"><%= notice %></p>

<p>
  <b>Ime:</b>
  <%= @user.ime %>
</p>

<p>
  <b>Prezime:</b>
  <%= @user.prezime %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
